div{
  text-align: center;
}
button
{
  width: 250px;
  height: 80px;
  background-color: blue;
  color: white;
}
button:hover{
  background-color: green;
}

h1{
  font-size: 80px;
  font-weight: 700;
  font-family:Impact ;
}
p{
  font-size: 35px;
}